/****************** 
  Common Style
******************/


//Mixins
@mixin flex-space-between{
  display: flex;
  justify-content: space-between;
}

@mixin flex-align-center{
  display: flex;
  align-items: center;
}

@mixin reset-list{
  list-style: none;
  
}

//General Rules

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: $open-sans;
  margin: 0 auto;
}



/* Small screen */
@media screen and (max-width: 768px){
  h1{
    font-size:7px;
  }
}

/* Medium screen */
@media all and (min-width: 769px) and (max-width: 1249px){
  h1{
    font-size:10px;
  }

}


/* big screen */
@media all and (min-width: 1250px){
  body{
    width: 1300px;
  }
  
}


