/****************** 
  Common Style
******************/


//Mixins

@mixin flex-center-center($direction: row, $justify: flex-start, $align: flex-start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin reset-list {
  list-style: none;
}

@mixin reset-a {
  text-decoration: none;
  color: $brown;
}

@mixin color-a-nav-bar {
  color: $brown;
  font-weight: bold;
  text-decoration: $none;

  &:hover {
    color:#30488f;
  }
}

@mixin btn-header-nav {
  padding: 5px 10px;
  color: #30488f;
  border: 1px solid #30488f;
  border-radius: 7px;
  background-color: $white;
  font-weight: bold;
  cursor: pointer;

  &:hover{
    transition: 0.7s;
    background: #30488f;
    color: $white;
  }
}

@mixin btn-jumbotron {
  padding: 7px 10px;
  border: 1px solid #30488f;
  border-radius: 7px;
  color: $white;
  font-size: 15px;
  cursor: pointer;
  background:#30488f;
}

@mixin after-before($none: none, $value: 0){
  content: '';
  position: absolute;
  top: $none;
  bottom: $value;
  
}


//General Rules

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $open-sans;
  margin: 0 auto;
  height: 4000px;
}

main{
  padding-top: 60px;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  
  
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  main{
    padding-top: 80px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  /* body {
    width: 1170px;
  } */

}

