/****************** 
  Common Style
******************/


//Mixins
@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin flex-center-center {
  display: flex;
  align-items: center;
}

@mixin reset-list {
  list-style: none;
}

@mixin color-a-nav-bar {
  color: $brown;
  font-weight: bold;
  text-decoration: $none;
}

@mixin btn-header-nav {
  padding: 7px 10px;
  color: #30488f;
  border: 1px solid #30488f;
  border-radius: 7px;
  background-color: $white;
  font-weight: bold;
  cursor: pointer;
}

@mixin btn-jumbotron {
  padding: 7px 10px;
  border: 1px solid #30488f;
  border-radius: 7px;
  color: $white;
  font-size: 15px;
  cursor: pointer;
  background:#30488f;
}


//General Rules

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $open-sans;
  margin: 0 auto;
  height: 4000px;
}

main{
  padding-top: 60px;
}



/* Small screen */
@media screen and (max-width: 768px) {
  
}

/* Medium screen */
@media all and (min-width: 769px) and (max-width: 1169px) {
  main{
    padding-top: 80px;
  }

}


/* big screen */
@media all and (min-width: 1170px) {
  body {
    width: 1170px;
  }


}


