/****************** 
  Header
******************/

#head{
  left: 0;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 10;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.23);
  -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.23);
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.23);
}

.container{
  @include flex-center-center(row,space-between,center);
  padding: 0 5px;
  height: 55px;
  /* border-bottom: $border-1-s-grey; */
  margin: 0 auto;
}

.header-left {
  margin-left: 30px;

  img {
    height: 25px;
  }
}

.header-right {

  ul {
    display: none;
    @include reset-list;

    li {
      display: inline-block;
      margin: 0 0 0 20px;
    }

    a {
      @include color-a-nav-bar;

      &:hover {
        color:#30488f;
      }
    }

    .cta {
      @include btn-header-nav;
      
      img {
        width: 20px;
        vertical-align: middle;
        margin: 0 5px 3px 0;
      }
    }

    .cta:hover{
      transition: 0.7s;
      background: #30488f;
      color: $white;
    }
  }
}//fine header right

.hamburger {
  margin-right: 40px;
  font-size: $font-s25;
  color: $brown;
}

.close {
  display: none;
  margin-right: 40px;
  color: $brown;
  font-size: $font-s25;
  text-decoration: none;
}


.hamburger-menu {
  position: absolute;
  top: 60px;
  left: 0;
  display: none;
  padding: 10px;
  width: 100%;
  border-bottom: $border-1-s-grey;
  background: white;
 
  ul {
    @include reset-list;

    display: flex;
    flex-direction: column;

    li {
      margin-left: 10px;
      padding: 10px;

      a {
        @include color-a-nav-bar;
        font-size: 15px;

        &:hover {
          color:#30488f;
        }
      }

      &:last-child {
        text-align: center;

        .cta {
          @include btn-header-nav;
          width: 100%;
          
          
          img {
            width: 20px;
            vertical-align: middle;
            margin: 0 5px 3px 0;
          }
        }

        .cta:hover {
          transition: 0.7s;
          background: #30488f;
          color: $white;
        }
      }
    }//fine li
  }//fine ul
}// fine hamburger-menu

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .header-right ul {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  /* 
  in questo caso è stato usato con consapevolezza
  */
  .hamburger,
  .close,
  .hamburger-menu{
    display: none !important;
  }

  .header-right ul {
    display: inline-block;
  }

  #head {
    padding: 0 20px;
  }

  .container{
    height: 55px;
  }

  .header-left {
    margin-left: 0;
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  
  
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

  .container{
    max-width: 1170px;
  }
}









