/****************** 
  Main
******************/
#jumbotron {

  @include flex-center-center(column,center,center);
  min-height: 850px;
  position: relative;

  .jumbo-container{
    margin-top: 50px;
    text-align: center;
    padding: 0 20px;

    h1 {
      max-width: 780px;
      margin: 0 auto; 
      color: $brown;
      font-size: 45px;
    }

    p {
      margin-top: 20px;
      color: $brown;
      font-size: 17px;
    }

    span {
      margin: 0 10px;
      color: $grey;
      font-size: 13px;
    }

    .cta {
      @include btn-jumbotron;
      margin: 30px 0 20px ;

      &:hover {
        background: rgb(40, 59, 110);
      }
      
      img {
        width: 20px;
        vertical-align: middle;
        margin: 0 5px 3px 0;

      }

    }

    a{
      @include reset-a;

      &:hover{
        color:#30488f;
      }
    }

  }//fine jumbotron container

  > img {
    margin-top: 35px;
    width: 550px;
  }

}//fine jumbotron



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  #jumbotron{

    .jumbo-container{

      p {
        max-width: 600px;
        margin: 20px auto 0; 
        font-size: 20px;
      }
    }
  }
  
  
  
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

  
 
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  #jumbotron{
    min-height: 550px;
    padding: 0 20px;
    flex-direction: row;
    

    .jumbo-container{
      text-align: left;

      p{
        margin: 20px 0 0;
        max-width: 450px;
      }
    }
  }
   
}

