/****************** 
  Main
******************/
#jumbotron {

  @include flex-center-center(column,center,center);
  min-height: 850px;
  position: relative;
  margin: 50px 0;

  .jumbo-container{
    text-align: center;
    padding: 0 30px;
    margin-bottom: 20px;

    h1 {
      max-width: 780px;
      margin: 0 auto; 
      color: $brown;
      font-size: 45px;
    }

    p {
      margin-top: 20px;
      color: $brown;
      font-size: 17px;
    }

    span {
      margin: 0 10px;
      color: $grey;
      font-size: 13px;
    }

    .cta {
      @include btn-jumbotron;
      margin: 30px 0 20px ;

      &:hover {
        background: rgb(40, 59, 110);
      }
      
      img {
        width: 20px;
        vertical-align: middle;
        margin: 0 5px 3px 0;
      }
    }

    a{
      @include reset-a;

      &:hover{
        color:#30488f;
      }
    }
  }//fine jumbotron container

  > img {
    width: 500px;
  }
}//fine jumbotron

#intro,
#intro2{
  @include flex-center-center(column,center,center);
  background: #FFE7D2;
  position: relative;
  
  
  .intro-container{
    @include flex-center-center(column,center,center);
    text-align: center;
    padding: 80px 0;
    color: $brown;

    h2{     
      margin-bottom: 100px;
      line-height: 35px;
    }

    .intro-info{
      @include flex-center-center(column,center,center);
      margin-bottom: 35px;

      .intro-info-object{
        margin-bottom: 50px;

        img{
          height: 100px;
          margin-bottom: 30px;
        }

        p{
          font-size: 18px;
        }
      }     
    }//fine intro-info

    > img {
      width: 300px;
    }
  }

  
}//fine intro

#intro::before{
  @include after-before(none, 0);
  height: 1px;
  width: 95%;
  max-width: 1150px;
  background-color: $lightgrey;
}

#feedback,
#rewiews{

  .feed-container{
    @include flex-center-center(column,center,center);
    margin: 100px 0 20px;

    > img {
      width: 500px;
    }

    .feed-info{
      @include flex-center-center(column,center,center);
      margin: 40px 0;
      color: $brown;

      p{
        text-align: center;
        max-width: 510px ;
        margin: 20px 0;
        font-size: 17px;
      }

      a{
        @include reset-a;
        margin-bottom: 40px;
        font-size: 17px;
        color:#30488f;
      }

      img {
        width: 300px;
      }
    }
  }
}//fine feedback e rewiews

#surveys,
#praise{

  .feed-container{
    @include flex-center-center(column-reverse,center,center);
    margin: 50px 0 20px;
 
    .feed-info{
      @include flex-center-center(column,center,center);
      margin: 40px 0;
      color: $brown;

      p{
        text-align: center;
        max-width: 510px ;
        margin: 20px 0;
        font-size: 17px;
      }

      a{
        @include reset-a;
        margin-bottom: 40px;
        font-size: 17px;
        color:#30488f;
      }

      img {
        width: 300px;
      }

    }

    > img {
      width: 500px;
    }
  }

}// fine surveys e praise



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  #jumbotron{

    .jumbo-container{

      p {
        max-width: 600px;
        margin: 20px auto 0; 
        font-size: 20px;
      }
    }

    > img {
      width: 570px;
    }
  }//fine jumbotron

  #intro,
  #intro2{
    @include flex-center-center(row,center,flex-start);

    .intro-container{
      padding: 70px 0;

      h2{
        max-width: 650px;;       
      }

      .intro-info{
        @include flex-center-center(row,center,flex-start);

        .intro-info-object:nth-child(2){
          margin: 0 20px;        
        }

      }
    }
  }//fine intro

  #feedback,
  #rewiews{

    .feed-container{
      @include flex-center-center(column,center,center);
      margin: 100px 0 20px;
  
      > img {
        width: 700px;
      }
  
      .feed-info{
  
        a{
          font-size: 22px;
        }
      }
    }
  }//fine feedback e rewiews

  #surveys,
  #praise{

    .feed-container{
      @include flex-center-center(column-reverse,center,center);
      margin: 50px 0 20px;
  
      > img {
        width: 700px;
      }
  
      .feed-info{
  
        a{
          font-size: 22px;
        }
      }
    }
  }// fine surveys e praise

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

  #intro,
  #intro2{
    
    .intro-container{
    
      .intro-info{
    
        .intro-info-object:nth-child(2){

          margin: 0 60px;
         
        }
      }
    }
  }//fine intro

  #feedback,
  #rewiews{

    .feed-container{
      @include flex-center-center(row,flex-end,flex-start);
      margin: 100px 0 20px;
      position: relative;

      > img {
        position: absolute;
        width: 770px;
        right: 500px;
      }
  
      .feed-info{
        @include flex-center-center(column,center,flex-start);
        margin: 0 50px 0;
        width: 420px;
        
        h2,p{
          text-align: left;
        }

        p{
          font-size: 21px;
          margin: 25px 0;
        }
        
        a{
          font-size: 22px;
        }

        img{
          margin-left: 80px;
        }
      }
    }
  }//fine feedback e rewiews

  #surveys,
  #praise{
   
    .feed-container{
      @include flex-center-center(row,center,flex-start);
      margin: 100px 0 20px;
      position: relative;
      
      overflow-x: hidden;

      > img {
        /* position: absolute;
        left: 500px; */
        width: 770px;
        transform: translateX(180px);
        z-index: 0;
      }
  
      .feed-info{
        
        @include flex-center-center(column,flex-start,flex-start);
        margin: 0 0 0;
        width: 420px;
        z-index: 1;
        transform: translateX(150px);

        h2,p{
          text-align: left;
        }

        h2{
          font-size: 21px;
        }

        p{
          font-size: 21px;
          margin: 25px 0;
        }
        
        a{
          font-size: 22px;
        }

        img{
          margin-left: 80px;
        }
      }
    }
  }// fine surveys e praise
 
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

  #jumbotron{

    @include flex-center-center(row, space-between,flex-start);
    min-height: 650px;
    padding: 90px 15px 0 ;
    margin: 0 auto;
    max-width: 1170px;
   
    .jumbo-container{
      text-align: left;
      padding: 0;
      
      h1{
        line-height: 70px;
        max-width: 520px;
      }

      p{
        margin: 20px 0 0;
        max-width: 450px;
      }
    }
  }//fine jumbrotron

  #intro,
  #intro2{
    
    .intro-container{
    
      .intro-info{
    
        .intro-info-object:nth-child(2){

          margin: 0 80px;
         
        }
      }
    }

    &::before{
      width: 100%;
    }
  }//fine intro
     
  #feedback,
  #rewiews{

    .feed-container{
      @include flex-center-center(row,flex-end,flex-start);
      margin: 100px auto 20px;
      position: relative;
      width: 1170px;
      
  
      > img {
        position: absolute;
        width: 65%;
        left: -185px;
        /* transform: translateX(-250px); */
      }
  
      .feed-info{
        @include flex-center-center(column,center,flex-start);
        margin: 0 160px 0;
        width: 420px;
        
        h2,p{
          text-align: left;
        }

        p{
          font-size: 21px;
          margin: 25px 0;
        }
        
        a{
          font-size: 22px;
        }

        img{
          margin-left: 80px;
        }
      }
    }
  }//fine feedback e rewiews

  #surveys,
  #praise{
   
    .feed-container{
      @include flex-center-center(row,center,flex-start);
      margin: 100px 0 20px;
      overflow-x: hidden;

      > img {
        width: 770px;
        /* transform: translateX(100px); */
      }
  
      .feed-info{
        
        @include flex-center-center(column,center,flex-start);
        width: 420px;
        transform: translateX(150px);
        
        
        h2,p{
          text-align: left;
        }

        p{
          font-size: 21px;
          margin: 25px 0;
        }
        
        a{
          font-size: 22px;
        }

        img{
          margin-left: 80px;
        }
      }
    }
  }// fine surveys e praise
 
}

