/****************** 
  Main
******************/
#jumbotron {

  height: 600px;
 





}








/* Medium screen */
@media all and (min-width: 769px) and (max-width: 1169px) {
  

}

/* big screen */
@media all and (min-width: 1170px) {
  

}
