/****************** 
  Query
******************/


/* big screen */
/* @media all and (min-width: 1250px){
  
} */


/* Small screen */
/* @media screen and (max-width: 768px){
  
} */
