/****************** 
  Vars
******************/

//Colors
$black: #000000;
$white: #ffffff;
$grey: rgb(122, 122, 122);



//Typography
$open-sans: 'Open Sans', sans-serif;


//Setup
$flex: flex;
$flex-end: flex-end;
$align-center: center;
$visibility-hidden: hidden;
$none: none;